<template lang="html">
    <div id="main">
        <h1>{{ title }}</h1>
         
        <div v-for="user in users" class="card">
            <div class="card-txt">
                <h4>Utlisateur : {{user.user}}</h4>
                <form>
                    <label>Votre ancien mot de passe : </label>
                    <input type="password" name="oldPasswd" id="oldPasswd">
                    <label>Votre nouveau mot de passe : </label>
                    <input type="password" name="newPasswd" id="newPasswd">
                    <label>Confirmer votre nouveau mot de passe : </label>
                    <input type="password" name="confirmPasswd" id="confirmPasswd">
                </form>
            </div>
                <button type="submit" class="btn btn-primary" @click="patchPasswd"><i class="far fa-edit"></i> Confrmer</button>
        </div>

    </div>
</template>

<script>
import axios from 'axios';

export default{
    data() {
        return {
            title : 'Paramètres utilisateur',
            users : [],
            errors : []
        }
    },
    mounted: function(){
        this.getParams();
    },

    methods:{
        getParams : function(){
            const url = "http://localhost:3000/users";
            axios.get(url)
                .then((res) => {
                    this.users = res.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        patchPasswd : function(){
            console.log()        }
        }
}
</script>

<style lang="scss" scoped> 

.card{
    width: 750px;
    margin: 10px 0;
    padding: 20px; 
    border: 1px solid rgb(234, 241, 243);
    box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
    h4{
        margin-bottom: 30px;
    }
    &-cta{
        margin-left: auto;
    }
    .btn{
        margin-right: 20px;
    }
}

.icon{
    width:50px;
    height:50px;
    margin: 5px 0;
    border-radius: 50%;
    transition: .5s ease;
    &:hover{
        box-shadow: 0px 4px 15px rgba(73, 224, 151, 0.4);
    }
}

.icons .fa-file-code{
    color: rgb(215, 222, 230);
    margin-right: 20px;

}
label{
    display: block;
    margin-bottom: 4px;
}
input[type="password"]{
    height: 30px;
    width: 300px;
    margin-bottom: 20px;
}
</style>