<template lang="html">
    <div id="main">
        <h1>{{ title }}</h1>
     
        <div v-for="lesson in lessons">
                <h2>Bienvenue sur le cours : {{lesson.title}}</h2>
                
                <p v-if="show">{{message}}</p>
                <div class="content">
                    <label> <i class="far fa-edit icon-fa"></i> Titre :</label>
                    <input type="text" id="titleField" class="input-field" :value="lesson.title">
                    <label><i class="far fa-edit icon-fa"></i> Decritpion :</label>
                    <input type="text" id="descriptionField" class="input-field" :value="lesson.description">
                    <label><i class="far fa-edit icon-fa"></i> Contenu (Ecrire du HTML) :</label>
                    <textarea id="contentField">{{lesson.content}}
                    </textarea>

                <div class="submit-form">
                  <router-link :to="'/Cours/'" class="btn btn-danger"><i class="fas fa-ban"></i> Annuler</router-link>
                  <button @click="updateLesson" class="btn btn-success">Modifier</button>
                </div>
                </div>
        </div>


    </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      title: "Les cours",
      lessons: [],
      errors: [],
      show: false,
      message: "Le cours a été modifié"
    };
  },
  created: function() {
    this.getLesson();
  },

  methods: {
    getLesson: function() {
      let itemId = this.$route.params.id;
      const url = "http://localhost:3000/lessons/" + itemId;
      axios
        .get(url)
        .then(res => {
          this.lessons = res.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    updateLesson: function(e) {
      e.preventDefault();
      let itemId = this.$route.params.id;
      const url = "http://localhost:3000/lessons/" + itemId;
      axios
        .patch(url, {
          title: titleField.value,
          description: descriptionField.value,
          content: contentField.value
        })
        .then(res => {
          this.getLesson();
        })
        .catch(e => {
          this.errors.push(e);
        });
      this.show = true;
    }
  }
};
</script>

<style lang="scss">
.content {
  width: 95%;
  min-height: 500px;
  padding: 30px;

  textarea {
    width: 90%;
    min-height: 300px;
    font-size: 16px;
    padding: 20px;
  }
}

.input-field {
  display: block;
  width: 580px;
  height: 30px;
  font-size: 15px;
  padding: 5px 0 5px 15px;
  margin-bottom: 25px;
}

.submit-form{
    width: 600px;
    margin-top: 30px;
    text-align: center;
}
</style>