<template lang="html">
    <div id="main">
        <h1>{{ title }}</h1>
     
        <div>
                <div class="content">
                <form action="#" method="post">
                    <div class="firstClass">
                        <div class="title">
                            <label><i class="far fa-edit icon-fa"></i> Titre :</label>
                            <input type="text" class="input-field" name="title" id="title">
                        </div>
                        <div class="categories">
                            <label><i class="far fa-edit icon-fa"></i> Catégories :</label>
                            <select id="selectId" @change="onCatIdSelected">
                                <option v-for="(cat,n) in categories" :key="n" :value="cat.cat_id">{{cat.name}}</option>
                            </select>
                        </div>
                    </div>
                    <label><i class="far fa-edit icon-fa"></i> Description :</label>
                    <input type="text" class="input-field" name="description" id="description">
                    <label><i class="far fa-edit icon-fa"></i> Contenu du cours :</label>
                    <textarea name="content" id="content">
                    </textarea>
                    <div class="images">
                        <div class="img-resume">
                            <label><i class="far fa-image icon-fa"></i> Image du résumé du cours :</label>
                            <input type="file" class="uploadImg" name="upload-resume" @change="onSelectedResum">
                        </div>
                        <div class="img-thumb">
                            <label><i class="far fa-image icon-fa"></i> Image de la vignette du cours (220 x 120) :</label>
                            <input type="file" class="uploadImg" name="thumb" @change="onSelectedThumb">
                        </div>
                    </div>
                <div class="submit-form">
                    <router-link :to="'/Cours/'" class="btn btn-danger"><i class="fas fa-ban"></i> Annuler</router-link>
                    <button @click.prevent="addLesson" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter</button>
                </div>
                </form>
                <p v-if="msgError !== ''">{{msgError}}</p>
                </div>
        </div>


    </div>
</template>

<script>
import axios from 'axios';
import router from '../../router'

export default{
    data() {
        return {
            title : 'Ajouter un cours',
            lessons : [],
            categories : [],
            errors : [],
            selectedThImgObj : {},
            thImgName : "default_th.jpg", //pour eviter d'envoyer un lien vide
            selectedResumImgObj : {},
            resumImgName : "default_resum.jpg", //pour eviter d'envoyer un lien vide
            selectedCatId : 1, // Pour envoyer la value du premier select
            msgError:"",
        }
    },
    mounted: function(){
        this.getAllCats();
    },
    methods:{
        onSelectedThumb : function(e){
            if(e){
            this.selectedThImgObj = e.target.files[0]; 
            this.thImgName = this.selectedThImgObj.name;
            console.log(this.thImgName)
            }else {
                return 
            }
        },
        onSelectedResum : function(e){
            if(e){
            this.selectedResumImgObj = e.target.files[0]; 
            this.resumImgName = this.selectedResumImgObj.name;
            console.log(this.resumImgName);
            } else {
                return
            }
        },
        uploadThumb : function(){
            const url2 = axios.defaults.baseURL + "/uploads";
            const fd = new FormData();
            fd.append('thumb', this.selectedThImgObj, this.selectedThImgObj.name);
            axios.post(url2, fd)
              .then(res => console.log("AQW :",res));      
        },
        uploadResum : function(){
            const url2 = axios.defaults.baseURL + "/uploads";
            const fd = new FormData();
            fd.append('thumb', this.selectedResumImgObj, this.selectedResumImgObj.name);
            axios.post(url2, fd)
              .then(res => console.log("AQW :",res));      
        },
        clearFieldAfterSubmit: function(){
                title.value = "";
                description.value = "";
                content.value = "";
                this.resumImgName = "default_resum.jpg";
                this.thImgName = "default_th.jpg";
                this.selectedCatId = 1;                
        },
        addLesson : function(e){
            const url = axios.defaults.baseURL + "/lessons";
            if(title.value !== ""){
                axios.post(url,{
                    title:title.value,
                    description:description.value,
                    content:content.value,
                    img_resume_url:this.resumImgName,
                    img_thumb_url:this.thImgName,
                    categorie_id:this.selectedCatId
            }).then((res)=>{
                this.uploadThumb();
                this.uploadResum();
                this.clearFieldAfterSubmit();
                router.replace('/Cours');
                // console.log("Ok it's done");

                });
            }else {
                this.msgError = "Les champs ne peuvent pas rester vide"
            }
            e.preventDefault();
        },
        getAllCats:function(){
            const url = axios.defaults.baseURL + "/categories";
            axios.get(url)
                .then((res) => {
                    this.categories = res.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        onCatIdSelected : function(){
            let select = document.getElementById("selectId");
            this.selectedCatId = select.options[select.selectedIndex].value;
        }
    }
}
</script>

<style lang="scss" scopped>
$height:30px;

.content{
    width: 95%;
    min-height: 500px;
    padding: 30px;

    textarea{
        width: 90%;
        min-height: 300px;
        width: 600px;
        font-size: 16px;
        padding: 20px;
        border:1px solid rgba(211, 227, 233, .7);
        box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
    }
}
label{
    display:block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input-field{
    width: 600px;
    padding: 4px;
    height: $height;
    border:1px solid rgba(211, 227, 233, .7);
    box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
}

.firstClass{
    display: flex;
    height:70px;
    .input-field{
        width: 450px;
    }
}
.categories{
    margin-left: 30px;
    select{
        height: $height;
        width: 120px;
        border:1px solid rgba(211, 227, 233, .7);
        box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
        background-color: #fff;
        //remove radius
        border-radius: 0;
        -webkit-border-radius: 0;
        outline: 1px solid rgba(211, 227, 233, .5);
        outline-offset: -1px;
    }
}

.images{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.submit-form{
    width: 600px;
    margin-top: 30px;
    text-align: center;
}

.icon-fa{
    color: #48af5f;
}

</style>