<template>
    <div id="main">

    </div>

</template>

<script>
    
</script>

<style lang="scss" scoped>
.btn{
    display: inline-block;
    width: 80px;
    height: 35px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border:none;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    outline: none;
}

</style>

