<template>
  <div id="nav_main">

      <img src="../../assets/img/logo.svg" alt="user_picture" class="logo">
      <ul class="list" v-if="auth">
      <li class="item" active-class="is-active"><router-link to="/cours"><i class="far fa-file-code"></i> Cours</router-link></li>
      <li class="item" active-class="is-active"><router-link to="/addcourse"><i class="far fa-plus-square"></i> Ajouter un cours</router-link></li>
      <li class="item" active-class="is-active"><router-link to="/categories"><i class="fas fa-align-justify"></i> Catégories</router-link></li>
      <li class="item" active-class="is-active"><router-link to="/" @click.native="logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</router-link></li>
      </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pages: ["categories", "cours", "parametres"]
    };
  },
  computed:{
    auth(){
      return this.$store.getters.isAuth
    }
  },
  methods:{
    logout:function(){
      this.$store.dispatch('logout')
    }
  }
};
</script>

<style lang="scss" scoped>
.list {
  padding: 0;
  width: 100%;
  border-top:1px solid rgb(215, 222, 230);
  
}
.list .item {
  width: 100%; 
  font-size: 17px;
  cursor: pointer;
  padding-left: 12px;
  height: 35px;
  line-height: 35px;
  border-bottom:1px solid rgb(215, 222, 230);
  transition:.5s ease;
  i{
    margin-left: 5px;
    margin-right: 5px;
  }
}

.item a{
    color:#373a42;
}


.list .item-logout{
  font-size: 16px;
}

.list .item:hover{
    background-color: rgb(215, 222, 230);
}

.list .item:hover,
.list .is-active {
  color: rgb(114, 163, 228);
  width: 100%;
}

.is-active{
  background-color: rgb(215, 222, 230);
  color:white;
}

.logo{
  display:block;
  width: 150px;
  margin : 60px auto;
}
</style>
