<template>
<div id="main">
        <h1 class="title">{{ title }}</h1>
        <h4>Entrez votre nom de catégorie et validez :</h4>
        <form action="#" class="form-categorie" >
            <i class="fas fa-plus-circle icon-fa"></i>
            <label for="categorie-name">Ajouter une catégorie :</label>
            <input type="text" name="addName" id="addName" placeholder="Html, Css, Javascript ...">
            <div class="submit-form">
            <button @click="addCategorie" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter</button>
            </div>
        </form>
        <h4>Cliquez sur une catégorie pour interagir avec :</h4>
        <div class="categories">
            <div v-for="(cat,n ) in categories" :key="n" class="categorie-item" @click="editCategorie(cat)">
                <span>{{cat.name}}</span>
            </div>
        </div>  

        <form action="#" class="form-categorie" v-if="showEdition">
            <i class="far fa-edit icon-fa"></i>
            <label for="categorie-name">Modilier la catégorie :</label>
            <input type="text" name="updateName" id="updateName" :value="activeCategory.name">
            <div class="submit-form">
                <button @click="updateCategorie($event, activeCategory.id)" class="btn btn-primary"><i class="far fa-edit"></i> Modifier</button>
                <button @click="removeCategorie($event, activeCategory.id)" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button>
                <button class="btn-close" @click="close"> <i class="fas fa-times"></i> </button>
            </div>
        </form>
        <p v-if="showWarning" class="warning">{{ warning }}  <span @click="closeWarning"><i class="fas fa-times"></i></span></p>
    </div>
</template>

<script>
import axios from 'axios';

export default{
    data() {
        return {
            title : 'Liste des catégories',
            showEdition : false,
            showWarning : false,
            activeCategory: "Catégorie à éditer ...",
            categories : [],
            errors : [],
            warning : ""
        }
    },
    mounted: function(){
        this.getAllCats();
    },
    methods:{
        getAllCats:function(){
            const url = axios.defaults.baseURL + "/categories";
            axios.get(url)
                .then((res) => {
                    this.categories = res.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })

        },
        editCategorie : function(cat){
            this.activeCategory = cat; //pour passer les parametres
            this.showEdition = true;
        },
        addCategorie : function(e){
            e.preventDefault();
            let inputAddCat = document.getElementById("addName");
            if(inputAddCat.value !== ""){
                const url = axios.defaults.baseURL + "/categories"
                axios.post(url,{
                    name : addName.value
                }).then(res =>{
                    this.getAllCats();
                });
            }else {
                this.showWarning = true;
                this.warning = "Le champ ne doit pas être vide";
            }
        },
        updateCategorie: function(e, id){
            e.preventDefault();
            if(updateName.value !== ""){
                const url = axios.defaults.baseURL + "/categories/" + id
                axios
                    .patch(url, {
                    name: updateName.value,
                    })
                    .then(res => {
                    this.getAllCats();
                    this.showEdition = false;
                    })
                    .catch(e => {
                    this.errors.push(e);
                    });
            }else {
                this.showWarning = true;
                this.warning = "Le champ ne doit pas être vide";
            }
        },
        removeCategorie: function(e,id){
            e.preventDefault();
            if(confirm("Voulez-vous supprimer ?")){
                const url = axios.defaults.baseURL + "/categories/" + id
                axios.delete(url,{data:{id:id}})
                .then((res) =>{
                    this.getAllCats();
                    this.showEdition = false;
                })
                .catch(e => {
                    this.errors.push(e);
                });
            }

        },
        close: function(e){
            e.preventDefault();
            this.showEdition = false;
        },
        closeWarning: function(){
            this.showWarning = false;
        }
    }
} 
</script>


<style lang="scss" scoped>
.form-categorie{
    display: flex;
    align-items: center;
    margin: 20px 0;
    height: 110px;
    padding: 10px;
    border-bottom: 1px solid  rgba(211, 227, 233, .7);
    border-top: 1px solid  rgba(211, 227, 233, .7);
    input{
        height: 25px;
        width: 200px;
        margin: 0 30px;
        padding: 5px;
        
    }
}

.categories{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-left: 2px solid #48af5f;
}

.categorie-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 34px;
    box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
    border: 1px solid rgba(211, 227, 233, 0.4);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    span{
        margin: 0 auto;
    }
}

.icon-fa{
    color: #48af5f;
    margin-right: 10px;
}

.btn-close{
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border:none;
    background-color: rgb(126, 126, 126);
    color:white;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.warning{
    width: 400px;
    height: 30px;
    padding: 5px;
    background-color: #fff3cf;
    color: #846315;
    border-left:2px solid;
    font-weight: 600;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        cursor: pointer;
    }
}


</style>
