<template lang="html">
    <div id="main">

        <h1>{{ title }}</h1>
        <p>Bienvenue sur votre dashboard. Il va vous permettre de créer des cours sur la programmation.</p>
        <router-link :to="'/Addcourse'">
            <img src="../../assets/plus.svg" class="icon">
        </router-link>

        <div v-for="lesson in lessons" class="card">
            <div class="icons">
                <i class="far fa-file-code fa-2x"></i>
            </div>
            <div class="card-txt">
                <h4>{{lesson.title}}</h4>
                <p>{{lesson.description}}</p>
            </div>
            <div class="card-cta">
                <button @click="removeLesson(lesson.id)" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</button>
                <router-link :to="'/Singlecourse/' + lesson.id" class="btn btn-primary"><i class="far fa-edit"></i> Editer</router-link>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios';

export default{
    data() {
        return {
            title : 'Liste des cours',
            lessons : [],
            errors : []
        }
    },
    mounted: function(){
        this.getAllChpapters();
    },

    methods:{
        getAllChpapters : function(){
            const url = axios.defaults.baseURL + "/lessons";
            axios.get(url)
                .then((res) => {
                    this.lessons = res.data;
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },
        removeLesson : function(id){
            if(confirm("Voulez-vous supprimer ?")){
                const url = axios.defaults.baseURL + "/lessons/" + id;
                axios.delete(url,{data:{id:id}})
                .then((res) =>{
                    this.getAllChpapters();
                })
                .catch(e => {
                    this.errors.push(e);
                });
            }
        }
    }
}
</script>

<style lang="scss" scoped> 

.card{
    width: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    padding: 10px; 
    border: 1px solid rgb(234, 241, 243);
    box-shadow: 0px 4px 15px rgba(211, 227, 233, 0.4);
    &-cta{
        margin-left: auto;
    }
    .btn{
        margin-right: 20px;
    }
}

.icon{
    width:50px;
    height:50px;
    margin: 5px 0;
    border-radius: 50%;
    transition: .5s ease;
    &:hover{
        box-shadow: 0px 4px 15px rgba(73, 224, 151, 0.4);
    }
}

.icons .fa-file-code{
    color: rgb(215, 222, 230);
    margin-right: 20px;

}
</style>