<template>
<div id="main">
    <div class="heading">
    <img src="../../assets/img/logo.svg" alt="user_picture" class="logo">
    <h1>{{ title }}</h1>
    </div>

    <div class="loginBlock">
        <form action="" @submit.prevent="onSubmit">
            <label for="mail">Login</label>
            <input type="text" v-model="authData.login" name="mail" value="admin">
            <label for="mail">Mot de passe</label>
            <input type="password" v-model="authData.passwd" name="password" value="123456">
            <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>
        </form>
    </div>
        <p v-if="msgError !==''"> {{ msgError }}</p>
</div>
</template>

<script>
export default {
    data () {
        return {
            title: 'Bienvenue sur votre Dashboard',
            authData:{
                login:'',
                passwd:''
            },
            errors:[],
            msgError:"",
        }   
    },
    methods:{
        onSubmit(){
            this.$store.dispatch('singIn', {user:this.authData.login, passwd:this.authData.passwd});
        }
    }
}
</script>

<style lang="scss" scoped>
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../assets/img/bg-header.jpg);
}
.heading{
    text-align: center;
    margin-bottom: 80px;
    h1{
        color:white;
        font-size: 45px;
        font-weight: bold;
        margin-top: 20px;
    }
}

.loginBlock{
    width: 300px;
    height: 250px;
    box-shadow: 1px 4px 10px rgba(66, 11, 83, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 30px auto;
    background-color: #fff;
    button{
        width: 250px;
    }

}
label{
    display: block;
    font-weight: bold;
    color:gray;
}
input[type="text"], input[type="password"]{
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
}

</style>
