<template>
  <div id="app">
    <nav-main class="nav" v-if="auth"></nav-main>
    <router-view class="main">
    </router-view>

  </div>
</template>

<script>
import NavMain from './components/navmain/NavMain.vue';

export default {
  name: 'app',
  components: {
    NavMain
  },
  data () {
    return {
      msg: 'Dashboard'
    }
  },
  created(){
    this.$store.dispatch('tryAutoLogin')
  },
  computed:{
    auth(){
      return this.$store.getters.isAuth
    }
  },
}
</script>

<style lang="scss">
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,a:visited{
  text-decoration: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

.nav{
  position: fixed;
  width: 200px;
  float: left;
  height: 100vh;
  color :rgb(55, 58, 66);
  background-color: #dee5e7;
}

.main{
  float: right;
  padding: 30px;
  width: calc(100% - 200px);
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}


.btn{
    display: inline-block;
    width: 110px;
    height: 35px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border:none;
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    outline: none;
}
.btn-danger{
    background-color: #C01025;
    color:white;
}
.btn-success{
    background-color: #48af5f;
    color: white;
}

.btn-primary{
    background-color: #10ADED;
    color: white;
}

.debug{
  border:1px solid red;
}

.modify{
    height: 20px;
    width: 90px;
    border:1px solid red;
}

.title{
  margin-bottom: 30px;
}

is-notAuth{
  display: none;
}

</style>
